*
{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
body h1
{
    margin-top: -100px;
    font-family: cursive;
    font-size: 65px;
    text-transform: capitalize;
    background: linear-gradient(45deg,black,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
body
{
    background: linear-gradient(45deg,red 600px,white 100px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
.main
{
    height: 60%;
    width: 60%;
    display: grid;
    margin-top: 25px;
    grid-template-columns: auto auto;
}
.table
{
    margin: 5px;
    min-height: 240px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 3px 3px 10px black,
                1px 1px 10px black;

}
.table thead
{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: rgb(255,255,255,.8);
}
.table thead tr th
{
    height: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid black;
}
.table  tbody
{
    width: auto;
    height: 65%;
}
.table tbody tr td
{
    word-break: break-all;
    color: black;
    font-family: Consolas;
    font-size: 22px;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px black;
}
.table1
{
    background-color: hwb(116 48% 0%);
}
.table1:hover
{
    box-shadow: inset 3px 3px 20px black,
    1px 1px 20px black;
    background: white;
    transition: background 0.2s;
}
.table2:hover
{
    box-shadow: inset 3px 3px 20px black,
    1px 1px 20px black;
    background: white
    transition: background 0.2s;
}
.table3:hover
{
    box-shadow: inset 3px 3px 20px black,
    1px 1px 20px black;
    background: white;
    transition: background 0.2s;
}
.table4:hover
{
    box-shadow: inset 3px 3px 20px black,
    1px 1px 20px black;
    background: white;
    transition: background 0.2s;
}
.table2
{
    background-color: hwb(246 56% 7%);
}
.table3
{
    background-color: yellow;
}
.table4
{
    background-color: rgb(252, 89, 89);
}
.closebtn
{
    padding: 4px 10px;
    background:  red;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 12px;
    
}
.addbtn
{
    width: 100px;
    text-align: center;
    background: white;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 20px;
}
.addbtn:hover
{
    border: 1px solid white;
    background: green;
    color: white;
    transition: all 0.3s;
}
@media screen and (max-width: 500px)
{
    .table thead tr th
    {
        font-weight: bolder;
        font-size: 20px;
    }
    .table
    {
        margin: 2px;
    }
    .closebtn
    {
        font-size: 14px;
    }
}
